@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap");

h1 {
  font-family: "Poppins";
  font-weight: ;
  font-variant: small-caps;
  color: red;
}

p {
  font-family: "Poppins";
  font-style: italic;
  font-size: 18px;
}

span {
  font: 25px bold;
}
